
/* 
    Created on : 30.11.2019, 15:27:22
    Author     : Marjaana Gummerus
*/

.hidden{
    display: none;
}

.bilsa{
    font-size: 20px;
    font-family: 'roboto', sans-serif;
}

.oikein{
    color: #40ff00;
    font-weight: bold; 
    font-size: 25px;
}

.kys_otsikko{
    font-weight: bold;
    font-size: 25px;
}

.vaarin{
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.answer_text{
    color: black !important;
}

img{
    max-width: 100%;
}

label:hover{
    color: #ff8800;
}

/*ainevisan taustaväri*/
.tausta{
    background-color: #ecffe6;
}

/*ainevisan napit*/
button{
    color: #009900 !important;
}

button:hover{
    color: #ff8800 !important;
}

/*matikkavisan napit*/
.nappi{
    color: #66e0ff !important;
}

.nappi:hover{
    color: #dd99ff !important;
}