/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.11.2019, 11:42:56
    Author     : Jani
*/

.red {
   color: red;
   font-weight: bold;
}
.exp {
   color: green;
   font-weight: bold;
}
img {
    width: 100%;
}
.tausta {
    background-color: #E8DBC5;
    border: solid 10px black;
   
}
hr {
    border-bottom: solid 5px black;
}
.hided {
    display: none;
}
.loppusivu {
    background-color: #E8DBC5;
}
figure {
    background-color: #E8DBC5;
}
button {
    margin: 15px !important;
}
.vinossa {
     margin-left: 15px;
}
.pistelasku {
    font-size: 20px;
    font-weight: bold;
}

.se1 {
    background-image: url("img/tausta_paras.jpg");
    
}
.se4 {
    background-image: url("img/tausta_huono.png");
}
label:hover {
    color:#00bfff;
}

