/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2019, 2:02:48 PM
    Author     : Justus Vainio
*/

.correct {
     background-color: greenyellow !important;   
     padding-right: 30px;
     padding-left: 30px;
}

.wrong{
    background-color: orangered !important;
    padding-right: 30px;
    padding-left: 30px;
}
.correct_answer{
    font-weight: bold;
    color: black !important;
}
.correct_txt{
    color: black !important;
}
.hided,
.hide1{
    display: none;
}

.babel{
    visibility: hidden;
}
label {
    padding: 10px;
    cursor: pointer;
}  
.answer {
    display: inline-block;
    
}
.hided,
.hide1{
    text-align: center;
}

h3{
    font-family: 'Permanent Marker', cursive;
}
/*skaalaa kuvia isommalle näytöllä*/
@media (min-width: 992px){
    .img-fluid{
        max-width: 50% !important;
        height: auto;
    }
}
/*buttonin värejä ja hover värejä*/
.seuraava3, 
.seuraava{
    background-color: purple;
    border-color: purple;
}
.seuraava3:hover,
.seuraava:hover,
.tarkistus:hover{
    background-color: red;
    border-color: red;
}



.hapis{
    font-family: 'Permanent Marker';
}
