/* 
    Created on : 27.11.2019, 10:28:26
    Author     : Oskar Kallunki
*/

.tausta {
    background-color: #E8DBC5;
}

.border-right,
.border-left,
.border-top
{
    border-width: 3px !important;
}

/* Pienellä näytöllä kaikki reunaviivat katoaa, tilalle uusi containerin kattava. Lisäksi popoveria on säädetty*/
@media screen and (max-width: 768px) {
    .border-right,
    .border-left,
    .border-top
    {
        border: none !important;
    }
    
    /* Väri on musta, ei vastaa bg-dark */
    .loota {
        border: solid;
        border-width: 3px;
    } 
        
    .popover {
        max-width: 80% !important;
    }
}

/* Värejä */
.helppo {
    background-color: green !important;
}

.keskitaso {
    background-color: orange !important;
}

.vaikea {
    background-color: red !important;
}

.next_level {
    background-color: purple !important;
}

/* Pallojen värit, joka toinen on tummempi */
.pallot span:nth-child(odd) {
    color: blue;
}

.pallot span:nth-child(even) {
    color: darkblue;
}

/* Käytetään kun halutaan että elementti on aluksi piilossa*/
.hidden {
    display: none;
}

/* Väri oikein ja väärin napeille */
.vaarin {
    background-color: red !important;
}

.oikein {
    background-color: green !important;
}

/* Säätää popoverin laatikon leveyttä sopivaksi */
.popover {
    max-width: 12.5%;
}

/* Popoverin kuvakkeelle */
.apu:hover {
    color: white !important;
}

.apu {
    margin-bottom: 1em;
}

/* Pieniä animaatioita */
@keyframes rotate {
    0% {transform: rotate(-360deg);}
}

.rotate {
    animation-name: rotate !important;
    animation-duration: 5s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: linear !important;
}

@keyframes swing {
    0% {transform: rotate(0deg);}  
    50% {transform: rotate(-45deg);}
    100% {transform: rotate(0deg);}   
}

.swing {
    animation-name: swing !important;
    animation-duration: 3s !important;
    animation-iteration-count: infinite !important;
}

@keyframes add {
    0% {color: green;}  
    100% {}   
}

.add {
    animation-name: add !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1;
}

@keyframes remove {
    0% {color: red;}  
    100% {}
}

.remove {
    animation-name: remove !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1;
}

/* Alla oleva sonta on vakavan perseilyn johdosta syntynyttä tuotantoa */
@keyframes vituiks_meni {
    0% {width: 0%;}
    0% {font-size: 0%;}
    50% {width: 100%;}
    50% {font-size: 30px;}
    100% {width: 0%;}
    100% {font-size: 0%;}
}

@keyframes vituiks_meni_v2 {
    0% {transform: rotate(360deg);}
}

@keyframes vituiks_meni_v3 {
    0% {color: red;}
    20% {color: blue;}
    40% {color: green;}
    60% {color: yellow;}
    80% {color: pink;}
    100% {color: purple;}   
    0% {background-color: purple;}
    20% {background-color: pink;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: red;}   
}

@keyframes vituiks_meni_v4 {
    0% {transform: rotate(45deg);}  
    50% {transform: rotate(-45deg);}
    100% {transform: rotate(45deg);}   
}

@keyframes vituiks_meni_v5 {
    0% {background-color: #86592d;}
    50% {background-color: #bf8040;}
    100% {background-color: #604020;}
}

.perseilyn_puolelle {
    animation-name: vituiks_meni !important;
    animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
}

.you_spin_me_right_round_baby {
    animation-name: vituiks_meni_v2 !important;
    animation-duration: 0.5s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: linear !important;
}

.pilvessa {
    animation-name: vituiks_meni_v3 !important;
    animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
}

.pumpum {
    animation-name: vituiks_meni_v4 !important;
    animation-duration: 2s !important;
    animation-iteration-count: infinite !important;
}

.elriisitas {
    animation-name: vituiks_meni_v4 !important;
    animation-duration: 2.5s !important;
    animation-iteration-count: infinite !important;
}

.ripulipaskaa {
    animation-name: vituiks_meni_v5 !important;
    animation-duration: 0.25s !important;
    animation-iteration-count: infinite !important;
}
