
/*Visan labeleiden yms tyylittelyt*/
.right {
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
}
.wrong {
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
}
.right_answer {
    font-weight: bold;
    color: black !important;
}

.real_answer {
    color: black !important;
}

.hided {
    display: none;
    
}
.answer{
    display: inline-block   
}
/*Sekalaisia tyylittelyjä esim buttoneille, kuville ja fonteille */
.keskelle {
    text-align: center;
}


label {
    cursor: pointer;
}
img {
    max-width: 100%;
}
.jeesus {
    max-width: 10%;
}
.form-check-label {
    padding: 10px;
}
.nuuska{
    width: 20px;
}

footer {
   
}
img{
    max-width:  20%;
}