/*Visan labeleiden yms tyylittelyt*/
.right {
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
}
.wrong {
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
}
.right_answer {
    font-weight: bold;
    color: black !important;
}

.real_answer {
    color: black !important;
}

.hided {
    display: none;
    
}
.answer{
    display: inline-block   
}

.keskelle {
    text-align: center;
}
/*Sekalaisia tyylittelyjä esim buttoneille, kuville ja fonteille */
input{
    visibility: hidden;
}
label {
    cursor: pointer;
}
img {
    max-width: 100%;
}
.jeesus {
    max-width: 10%;
}
.form-check-label {
    padding: 10px;
}
.nuuska{
    width: 20px;
}

footer {
   
}
.next3 {
    background-color: #42cc18;
    border-color: #42cc18;
}
.next3:hover{
    background-color: #ffc0cb;
     border-color: #ffc0cb;
}
.joo {
    font-size: 20px;
}