.inline{
    display: inline;
}
.box{
    border-style: solid;
    border-radius: 10px;
    border-color: darkgray;
    background-color: #E8DBC5;
}
.answered{
    opacity: 0.5;
    transition-timing-function: ease-in-out;
}

