.oikein {
    color: green !important;
    font-weight: bold;
}

.vaarin {
    color: red;
}

h3 {
    color:#1399ab;
}

.aloitus:hover {
    background-color:#1399ab;
    color:black;
    font-weight:bold;
}

.jatkuu:hover {
    background-color:#1399ab;
    color:black;
    font-weight:bold;
}

p {
    color:black;
    font-size:20px;
}

i {
    margin:5px;
    padding-right:5px;
}

.hidden {
    display: none;
}

footer {
    margin-top:5px;
}

.navbar {
    margin:5px;
}

.alkuteksti {
    font-weight:bold;
    color:#1399ab;
    font-size:20px;
}

.numero {
    font-weight:bold;
    color:#1399ab;
}

.helpot:hover {
    background-color:#bce0c1;
    color:black;
    font-weight:bold;
}

.vaikeat:hover {
    background-color:#d4424b;
    color:black;
    font-weight:bold;
}

.akumu {
    color:#1399ab;
    font-style:italic;
    font-size:20px;
}

.question-container1 {
    margin:10px;
    border:solid #bce0c1;
    padding:20px;
    box-shadow: 10px 10px 5px grey;
}

.question-container2 {
    margin:10px;
    border:solid #d4424b;
    padding:20px;
    box-shadow: 10px 10px 5px grey;
}
