/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.11.2019, 12:50:00
    Author     : Jani
*/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap');

body {
    background-color: #f5f5ef;  
}

a {
    color:black;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
}

a :hover {
   color: #00bfff !important;
}

nav {
    background-color: #e0e0d1;   
}

.nav-link:hover,
.dropdown-item:hover {
    color: #00bfff !important;
    background-color: #e0e0d1;
}

.dropdown-menu {
    border: none;
}

h1, h2, .header {
    font-family: 'Permanent Marker', cursive;
}
.teksti {
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: bold
}

.enkku {
    font-size: 20px;
    font-family: 'roboto', sans-serif;
}

.navbar-toggler{
    border-color: black;
}

/* hamburger icon with a different color */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.border {
   border-width: 10px !important;
}

.taustavari {
    background-color: #E8DBC5;
}

.kuvavari {
    background-color: #FFFFFF; 
}

.kuvataustavari {
      background-image: linear-gradient(#E8DBC5 50%, #343a40 100%);
}

.reunat {
    margin: 5px;
}

.pyoreys {
    border-radius: 50%;
    padding: 20px;
    width: 75%;
}

.perfecto {
    background-color: gold;
}

.pelattu {
    background-color: lightgreen;
}

.pelattu_paskasti {
    background-color: lightsalmon;
}

td {
    text-align: center !important;
}

.taka-aukko {
    background-image: url("https://thumbs.gfycat.com/AffectionateEasygoingEchidna-size_restricted.gif");
    background-size: cover;
    color: #FFFFFF;
    overflow: hidden;  
}

@keyframes jipii { 
    0% {background-color: blue;}
    16% {background-color: green;}
    32% {background-color: yellow;}
    48% {background-color: orange;}
    64% {background-color: red;}
    76% {background-color: purple;}
    100% {background-color: blue;}
}

.jee_kivaa {
    animation-name: jipii !important;
    animation-duration: 6s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: linear !important;
}

.scroll-up p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-up 8s linear infinite;
 -webkit-animation: scroll-up 8s linear infinite;
 animation: scroll-up 8s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-up {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
 0%   { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 
 }
}
